/cache_data/
/notebooks/
/model_trained/
/datasets/
/acc_hists/
/__pycache__/
/utils/__pycache__/
/VOCdevkit/
/calib_data/
/calib_data_*/
/dataset/
/static/
/templates/
*.mat
*.png
*.zip
/seg_res/
/test/
/images/
/mats/
/.ipynb_checkpoints/
*.swp
*.pkl
*.ipynb
*.txt
